
*.user

*.vcxproj

*.filters

*.sln

.vs/Age_of_War/v16/.suo

*.db

.vs/Age_of_War/v16/ipch/AutoPCH/89e0d310a3033ebd/MAIN.ipch

.vs/AgeOfWar/v16/.suo

*.opendb

*.ipch

*.tlog

*.json

.vs/

Age_of_War/Debug/

Debug/
